ProjectHeader{
    height: 3;
}

ProjectHeader Label {
    padding: 1;
}

ProjectHeader Input {
    height: 3;
    width: 25;
}

ModuleListing{
    height: 3;
}

ModuleListing Label {
    padding: 1;
}

#main_area {
    width: 80%;
}

TabPane {
    padding: 0 1;
}

#sidebar {
    height: 100%;
    border: solid blue;
}